#section3{
    background-color: white;
    height: 900%;
    width: 100%;
}

#paragrahps1{
    padding-top: 2%;
    text-align: center;
    font-family: "poppins-medium", sans-serif;
}

#paragrahps1 h4{
    color: red;
}
#paragrahps1 h5{
    color: grey;
}

#paragrahps1 h1{
    color: black;
}

.webProjects{
    display:flex;
    justify-content: center;
}
.mobileProjects{
    display: flex;
    justify-content: center;
}
