.project{
   background-color: grey;
   width: 40%;
   border-radius: 5px;
   margin-bottom: 2%;
   margin-left: 5%;
   text-align: center;
   vertical-align: middle;
   opacity: black;
   padding-bottom: 2%;
   filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
}

.project:hover{
    filter: drop-shadow(0rem 0rem 0rem rgba(129, 128, 128, 0.253));
}
.project:hover > .dark{
    display: block;
}

#slideText{
    font-family: "poppins-medium", sans-serif;
    color: white;
    text-decoration: none;
    text-align: center;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

#descriptionOfProject{
    font-family: "poppins-medium", sans-serif;
    font-size: large;
}
#linkToProject{
    font-family: "poppins-medium", sans-serif;
    color: white;
    text-decoration: none;
}
#linkToProject:hover{
    color: rgba(196, 194, 194, 0.185);
}
.dark{
    display: none;
    background-color: rgba(0, 0, 0, 0.527);
    height: 100%;
}
