#section4{
    background-color: black;
    height: 100%;
    font-family: "poppins-medium", sans-serif;
}

#section4 h4{
    color: red;
}

#section4 h1{
    color:white;
}

#section4 h5{
    color: grey;
}
#paragrahps2{
    padding-top: 2%;
    text-align: center;
    font-family: "poppins-medium", sans-serif;
}
#connections{
    text-align: center;
    margin-top: 5%;
}

#copyright{
    color: grey;
    text-align: center;
    padding-left: 3%;
    margin-top: 5%;
    padding-bottom: 1%;
}



