#moreButton{
    height: 60px;
    width: 10%;
    border: 2px solid grey;
    background-color: transparent;
    color: white;
    cursor: pointer;
    font-family: "poppins-medium", sans-serif;
    font-size: medium;
}

#moreButton:hover{
    border: 2px solid red;
}