.Download{
    border: black;
    background-color: black;
    height: 50px;
    text-align: center;
    font-family: "poppins-medium", sans-serif;  
}
a {
    text-decoration: none;
}
.Download span{
    font-size: small;
    letter-spacing: 2px;
    color: grey;
}

.Download:hover{
    cursor: pointer;
    filter: brightness(3);
}

@media screen and (max-width: 1100px) {
    
    
}
@media screen and (max-width: 768px) {
    
}
@media screen and (max-width: 430px) {
    .Download{
        position: relative;
        height: 50px;
        width: 105%;
        right: 2%;
    }
}