.Download{
    background-color: black;
    width: 9%;
    height: 47px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "poppins-medium", sans-serif;
    position: absolute;
    left: 50%;
}
a {
    text-decoration: none;
}
.Download span{
    font-size: small;
    letter-spacing: 2px;
    color: grey;
}

.Download:hover{
    cursor: pointer;
    filter: brightness(3);
}