.Download{
    background-color: black;
    width: 9%;
    height: 41px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-family: "poppins-medium", sans-serif;
    margin-left: 3%;
    margin-top: 5%;
}

.Download span{
    font-size: small;
    letter-spacing: 2px;
    color: grey;
}

.Download:hover{
    cursor: pointer;
    filter: brightness(3);
}