.HireMe{
    border: 3px solid black;
    width: 10%;
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "poppins-medium", sans-serif;
    position: absolute;
    right: 50%;
    overflow: hidden;
    background-color: transparent;
}
a{
  text-decoration: none;  
}

.HireMe span{
    font-size: small;
    letter-spacing: 2px;
    color: red;
}

.HireMe:hover{
    border: 3px solid red;
    cursor: pointer;
}

@media screen and (max-width: 1355px) {
    .HireMe span{
        font-size: 10px;
        letter-spacing: 2px;
        color: red;
    }
}
@media screen and (max-width: 1100px) {
    .HireMe{
        width: 15%;
    }
}
@media screen and (max-width: 430px) {
    .HireMe{
        position: relative;
        height: 50px;
        width: 180%;
       
    }
}



