.HireMe{
    border: 3px solid black;
    width: 9%;
    height: 35px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    font-family: "poppins-medium", sans-serif;
    margin-top: 5%;
}

.HireMe span{
    font-size: small;
    letter-spacing: 2px;
}

.HireMe:hover{
    border: 3px solid red;
    color: red;
    cursor: pointer;
}
.HireMe a{
    text-decoration: none;
    color: red;
}