.HireMe{
    border: 3px solid black;
    width: 9%;
    height: 41px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "poppins-medium", sans-serif;
    position: absolute;
    right: 50%;
}
a{
  text-decoration: none;  
}

.HireMe span{
    font-size: small;
    letter-spacing: 2px;
    color: red;
}

.HireMe:hover{
    border: 3px solid red;
    cursor: pointer;
}


