.outerShell{
    background-color: rgba(54, 58, 54, 0.548);
    width: 70%;
    height: 10px;
    border-radius: 2px;
    margin-top: 1.5%;
    margin-bottom: 4%;
}

.innerShell{
    border-radius: 2px;
    opacity: 1;
    height: 10px;
    background-color: black;
    overflow: hidden;
}