.outerShell{
    margin-left: 35%;
    background-color: rgba(54, 58, 54, 0.548);
    width: 30%;
    height: 10px;
    border-radius: 2px;
    margin-bottom: 2%;
    text-align: center;
}

.innerShell{
    border-radius: 2px;
    opacity: 1;
    height: 10px;
    background-color: black;
    overflow: hidden;
}
#bar{
    margin-left: 0%;
    align-items: center;
}
