.Technologies{
    display: block;
    width: 100%;
}
.Technologies #mains{
    padding-left: 30%;
    padding-right: 30%;
    text-align: left;
    font-size: large;
}


.TechnologyList{
    list-style: none;
    text-align: left;
    padding-left: 30%;
    font-family: "poppins-medium", sans-serif;
}
.Technologies span{
    font-family: "poppins-medium", sans-serif;
    letter-spacing: 3px;
}
.Technologies li{
    font-size: medium;
    font-weight: bold;
}



.techLogo #name{
    float: left;
}


@media screen  and (max-width: 430px) {
    .Technologies{
        margin-top: 10%;
    }
    .Technologies span{
        padding-right: 3%;
        font-size: 14px;
    }
    .Technologies #mains{
        font-family: "poppins-medium", sans-serif;
        font-size: 16px;
        padding-left: 3%;
        padding-right: 3%;
    }
    .TechnologyList{
        padding-left: 3%;
        padding-right: 3%;
        font-family: "poppins-medium", sans-serif;
    }
    .TechnologyList #name{
        font-size: 14px;
    }
    .TechnologyList p{
        font-size: 16px;
    }
}